**.zip
**.rar
**.tar
**.tar.gz
/**/*.[jJ][pP][gG]
**.jpeg
**/*.png
**.[gG][iI][fF]
/**/*.[sS][vV][gG]
*.csv
*.txt
/.venv
.venv/
**/.venv
*.css
*.js
*.ppt
*.psd
*.pdf
*.docs
*.doc
.*
**/hamshahri
Ml-HW1/AML_HW01
*.docx
*.db*
*.*model*
HomeWork/prepared_home_Work
*.xlsx
*.asv
Lectures/s
HomeWork/**/**.m
Project/first_Project/temp/**/*.m
Project/first_Project/temp/mahdi gorji_project1/matlab_optimization_toolbox/pattern_search.mlx
Project/first_Project/temp/mahdi gorji_project1/matlab_optimization_toolbox/fminsearch.mlx
Project/first_Project/My_Project/Simplex/f_2_min_analytical.mat
HomeWork/HW_03/Problem2_Curvfiting_golden_section/__pycache__/line_search.cpython-310.pyc
**/__pycache__
**/.mat
**/Lectures
**/*.mat
Project/first_Project/My_Project/Python/python_codes/direct_methods.py
