**.zip
**.rar
**.tar
**.tar.gz
/**/*.[jJ][pP][gG]
**.jpeg
**/*.png
**.[gG][iI][fF]
/**/*.[sS][vV][gG]
*.csv
*.txt
/.venv
.venv/
**/.venv
*.css
*.js
*.ppt
*.psd
*.pdf
*.docs
*.doc
.*
**/hamshahri
Ml-HW1/AML_HW01
*.docx
*.db*
*.*model*
**.m*
*.xlsx
*.asv
Lectures/s
HomeWork/HW_03/Problem2_Curvfiting_golden_section/__pycache__/line_search.cpython-310.pyc
